.admindetails{
	border: collapse;
	margin: 25px 0;
	
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	position: absolute;
		top: 20%;
		left: 37%;

	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}


.admindetails thead tr {
	background-color: #009879;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.admindetails th, .admindetails td {
	padding: 12px 15px;
}